.header-container {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  position: fixed;
  width: 100%;
  z-index: 3;
  transition: all ease 0.45s;
}

.header-container:hover { 
  background-color: #181818;
}

.netflix-logo, .user-icon {
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}

.user-icon {
  height: 40px;
}

.netflix-logo {
  height: 90px;
}

@media screen and (max-width : 960px) {}