.main-movie {
  height: 100vh;
}

.vertical-shadow {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 5%, transparent 95%);
}

.horizontal-shadow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 170px;
  padding-top: 105px;
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 20%, transparent 80%);
}

.main-movie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.main-movie-name {
  font-size: 60px;
  font-weight: 700;
  padding-top: 15px;
}

.main-movie-infos {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0;
  width: 25vh;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-movie-points {
  color:  #46d369; 
  padding: 3px;
}

.main-movie-description {
  font-size: 20px;
  color: #999;
  max-width: 50%;
}

.main-movie-buttons {
  margin-top: 15px;
  display: flex;
  max-width: 50vh;
  font-weight: 700;
  justify-content: space-around;
}

.main-movie-buttons a {
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  opacity: 1;
  transition: all ease 0.2s;
}

.main-movie-buttons a:hover {
  opacity: 0.6;
}

.main-movie-year {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(63, 59, 59);
  border-radius: 5px;
  padding: 3px;
}



.watch-button {
  background-color: #FFF;
  color: #000;
}

.my-list-button {
  background-color: #333;
  color: #FFF;
}

.main-movie-genres {
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}


@media screen and (max-width : 960px) {

  .main-movie-name {
    font-size: calc(90% + 5.5vmin);
  }

  .main-movie-infos {
    width: 30vh;
    flex-wrap: nowrap;
  }

  .main-movie-description {
    font-size: 19px;
    max-width: 75%;
  }
}
