.movie-list-container {
  display: flex;
  flex-wrap: wrap;
}

.loading {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.is-loading {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -105px;
  margin-bottom: 105px;
  overflow: hidden;
}

.movie-cards-container {
  display: flex;
  padding: 4px 25px;
  transition: all ease 1s;
  overflow: hidden;
}

.movie-cover {
  transform: scale(0.92);
  width: 200px;
  border-radius: 5px;
  transition: all ease 0.2s;
}

.movie-cover:hover {
  transform: scale(1);
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.list-title {
  margin-left: 30px;
}

.arrow-left, .arrow-right {
  display: flex;
  position: absolute;
  align-items: center;
  width: 40px;
  height: 300px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  overflow: hidden;
  transition: all ease 0.5s;
}

.arrow-left {
  left: 0px;
}

.arrow-right {
  right: 0px;
}

.movie-list:hover .arrow-left {
  background: linear-gradient(to right, #171717, transparent);
  opacity: 1;
}

.movie-list:hover .arrow-right {
  background: linear-gradient(to left, #171717, transparent);
  opacity: 1;
}

@media screen and ( max-width : 900px) {
  .arrow-left, .arrow-right {
    opacity: 1;
  }
}
